<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Query</title>
</head>
<body>
    <h2>Ask a Question</h2>
    <form action="{% url 'predict' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file" accept=".jpg, .jpeg, .png, .gif" required>
        <input type="radio" name="version" value="Simple Lines" checked> Simple Lines
        <input type="radio" name="version" value="Complex Lines"> Complex Lines
        <button type="submit">Ask</button>
    </form>
</body>
</html>